* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/header-image.png");
}

.logo {
    width: 167px;
    height: 45px;
}

.header {
    width: 1000px;
    height: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 40px;
    padding-top: 20px;
}

.header-content {
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 450px;
    height: 550px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.email-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
    
}

.email-signup input, .email-signup button {
    margin-bottom: 30px;
    padding: 15px;
    margin-right: 0;
    border-radius: 8px;
    border: none;
    width: 100%;
    width: 350px;
    background-color: #333333;
    outline: 0;
    box-shadow: 0;
    color: #fff;
}

.email-signup h1{
    margin-right: 240px;
    padding-bottom: 20px;
}

.email-signup button {
    background-color: #E50914;
    font-size: 17px;
    cursor: pointer;
}
.header-content .check {
    margin-right: auto;
    margin-left: 30px;
    font-size: 13px;
    color: #B3B3B3;
    font-weight: 400;
}

.header-content .check a {
    margin-left: 180px;
    color: #B3B3B3;
    text-decoration: none;
}

.header-content .check a:hover {
    text-decoration: underline;
}

.header-content .new-user {
    margin-top: 60px;
    color: #B3B3B3;
    font-size: 13px;
}

.header-content .new-user .par1 {
    margin-right: 50%;
}

.header-content .new-user .par2 {
    margin-left: 20px;
    position: relative;
    text-align: left;
    width: 20px;

}